body {
  background: url(./Components/Background/bakery.jpg);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}
h1 {
  font-family: Courgette, Georgia, serif;
  color: white;
  font-size: 80px;
}
h2 {
  font-family: Courgette, Georgia, serif;
  color: white;
  font-size: 50px;
}

p,
li {
  color: white;
}
li {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 700px;
  height: 40px;
  padding: 7px;
  border: 2px solid #007bff;
  border-radius: 10px;
}
li.price {
  justify-content: end;
}
#total {
  color: rgb(255, 255, 255);
  background-color: #007bff;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  padding-top: 7px;
}
